<div class="content">
  <h1>Find Other Users</h1>
  <%= image_tag "fruit_stall.jpg", height: "300", width: "300" %>
</div>

<div class="content">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.email, user_path(user) %>
      </li>
    <% end %>
  </ul>
</div>
