<h1><%= @user.email %></h1>
<%= link_to 'Send Friend Request', request_user_path(@user) %>

<ul>
  <% @user.friends.each do |friend| %>
    <li>
    <%= link_to friend.email, user_path(friend) %>
    </li>
  <% end %>
</ul>
