<div class="top-content">
  <h1>List of All Foods</h1>
</div>

<%= render 'foods/food_bar' %>

<div class="content">
  <h4>Foods:</h4>
  <ul>
    <% @foods.each do |food| %>
      <li><%= link_to food.name, food_path(food) %></li>
    <% end %>
  </ul>
</div>

