.main {
  background: #F0F0F5;
  height: auto;
}

.card-content {
  background: white;
  padding: 5%;
  height: 400px;
}

.content {
  background: white;
  padding: 1%;
  height: auto;
  margin: 1%;
  overflow: scroll;

}

.home {
  height: 800px;
}

footer{
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}
