<footer>
  <nav>
  <ul>
    <li>Bulk Smash - Social Shopping for Superhero Teams</li>
  </ul>
  <ul>
    <li><a href='https://github.com/sathyan1983'>Sathyan Mathai</a></li>
    <li><%= link_to "Launch Academy", 'http://www.launchacademy.com' %></li>
    </ul>
  </nav>
</footer>
